footer {
    background-color: #3C49DD;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    border-radius: 0 0 24px 24px;
    color: white;
}

.footer__container{
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    display: flex;
    min-height: 80px;
}

.footer__text {
    margin: 0;
    font-size: 14px;
}



.footer__btn {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.footer__btn:hover {
    color: #626EEB;
}

.footer__btn:active {
    color: #2F3BB7;
}


.footer__img {
    margin-left: 5px;
}

