.reviews__inner {
    width: 100%;
    height: 800px;
}

.reviews {
    display: flex;
    padding: 40px 0;
    background: radial-gradient(ellipse at 100% 0%, rgba(235, 71, 139, 0.411) 4%, rgba(134, 51, 176, 0.425) 13%, transparent 20%),
    radial-gradient(ellipse at 100% 100%, rgba(71, 85, 235, 0.356) 7%, transparent 35%);
    max-width: 1392px;
    max-height: 800px;
}

.reviews > .container {
    position: relative;
    width: 100%;
    padding-top: 80px;
}


.reviews__title {
    width: 100%;
    margin-left: 56px;
}

.reviews__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    min-height: 560px;

}

.main__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px 16px 16px;
}

.main__container-main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 16px; */
}

.reviews-item {
    display: flex;
    flex-direction: column;
    width: 628px;
    height: 240px;
    position: absolute;
    left: 0;
    top: 0;
    gap: 10px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    transition: .3s;
}

.grid-item {
    display: grid;
    flex-direction: column;
    width: 628px;
    height: 240px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    transition: .3s;

}

.reviews-item__btn {
    padding: 10px 20px;
    width: 274px;;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color:white ;
    color: #3C49DD;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(1007px, 504px);
}

.reviews-item__btn:hover {
    color: #626EEB;
    transition: 0.3s;
    box-shadow: 0 5px 5px 5px #505DEC40;
}

.reviews-item__btn:active {
    color: #2F3BB7;
}


.screen5__cats-img {
    border-radius: 50%;
    padding-right: 16px;
}

.screen5__date {
    font-size: 16px;
    color: #808080;
    
}

.screen5_stars {
    width: 24px;
}

.screen5__text {
    font-size: 14px;
    color: #808080;
    margin: 0;
}

.reviews-item._first {
    transform: translate(0, 56px);
    z-index: 0;
}

.reviews-item._second {
    transform: translate(326px, 0);
    z-index: 4;
}

.reviews-item._third {
    transform: translate(653px, 192px);
    z-index: 6;
}

.reviews-item._fourth {
    transform: translate(164px, 320px);
    z-index: 5;
}

.gap-gap {
    
    flex-wrap: nowrap;
}

.cats {
    position: absolute;
    transform: translate(0, 600px);
    visibility: hidden;
    color: #808080;
    font-size: 24px;
    transition: 1s;
}