
.c__screen3 {
    background: radial-gradient(ellipse at 100% 0%, rgba(134, 51, 176, 0.31) 8%, rgba(71, 84, 235, 0.36) 16%, transparent 40%), radial-gradient(ellipse at 0% 100%, rgba(235, 71, 139, 0.42) 10%, transparent 29%);

}

.c__screen3 > .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;

}

.screen3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 45%;
    
}
.screen3__margin {
    margin: 0;
    
}

.screen3_title {
    margin-left: 56px;
    margin-top: 80px;
    margin-bottom: 41px;
    font-size: 36px;
}

.screen3_title-for {
    display: flex;
    flex-wrap: wrap;
}

.screen3__img {
    max-height: 720px;
    width: 628px;
    
}

.screen3__scroll {
    display: flex;
    width: 422px;
    justify-content: space-around;
    margin-bottom: 30px;
}

.screen3_scroll-txt {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.blue {
    color: blue;
}

.body-margin {
    margin-bottom: 16px;
}

.screen3__body {
    display: flex;
    flex-direction: column;
    width: 463px;
    margin-right: 221px;
}

.screen3__body-txt {
    color: #808080;
}

.screen3__mini-title {
    font-size: 36px;
    display: flex;
    margin-bottom: 16px;

}

.screen3__mini-mini-title {
    margin-bottom: 24px;
    color: #4754EB;
}

.screen3__button {
    margin-top: 71px;

}

.screen3__btn {
    color: white;
    background-color: #4754EB;
    border-radius: 15px;
    font-size: 18px;
    width: 247px;
    padding: 15px 10px;
    text-decoration: none;
}

