.c__screen8 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c__screen8 > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.screen8 {
    padding-top: 80px;
    padding-left: 56px;
    display: flex;
    flex-direction: column;
    max-width: 45%;
    height: 728px;
}

.screen8__title {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    font-size: 48px;
    width: 628px;
}

.screen8__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 465px;
    height: 64px;
    margin-bottom: 40px;
    align-items: flex-start;
    

}

.screen8__img {
    max-height: 720px;
    padding-right: 219px;
    padding-bottom: 120px;
    padding-top: 119px;
}

.screen8__mini-txt {
    width: 354px;
    height: 32px;
}

.screen8__input-item {
    background-color: #4A90E2;
    color: #fff;
    border: none;
    padding: 16px 32px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 56px;
    
}

.screen8__input-text {
    width: 465px;
    flex: 1;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 24px;
}

.screen8__under-title {
    color: #808080;
}