
.c__screen3 {
    background: radial-gradient(ellipse at 100% 0%, rgba(134, 51, 176, 0.31) 8%, rgba(71, 84, 235, 0.36) 16%, transparent 40%), radial-gradient(ellipse at 0% 100%, rgba(235, 71, 139, 0.42) 10%, transparent 29%);

}

.c__screen3 > .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;

}

.screen3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 45%;
    width: 628px;
    
}
.screen3__margin {
    margin: 0;
    
}

.screen3_title {
    margin-left: 56px;
    margin-top: 80px;
    margin-bottom: 41px;
    font-size: 36px;
}

.screen3_title-for {
    display: flex;
    flex-wrap: wrap;
}

.screen3__img {
    max-height: 720px;
    width: 628px;
    
}

.screen3__scroll {
    display: flex;
    width: 422px;
    justify-content: space-around;
    margin-bottom: 30px;
}

.screen3_scroll-txt {
    text-decoration: none;
    font-size: 18px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.screen3_scroll-txt:hover {
    color: #626EEB;
}

.screen3_scroll-txt:active {
    color: #2F3BB7;
}

.blue {
    color: blue;
}

.body-margin {
    margin-bottom: 16px;
}



.screen3__body-txt {
    color: #808080;
}

.screen3__mini-title {
    font-size: 36px;
    display: flex;
    margin-bottom: 16px;

}

.screen3__mini-mini-title {
    margin-bottom: 24px;
    color: #3C49DD;
}

.screen3__button {
    margin-top: 71px;

}

.screen3__btn {
    color: white;
    background-color: #3C49DD;
    border-radius: 15px;
    font-size: 18px;
    width: 247px;
    padding: 15px 10px;
    text-decoration: none;
}

.screen3__btn:hover {
    background-color: #626EEB;
    box-shadow: 0px 5px 5px 5px #505DEC40;
    transition: 0.3s;
}

.screen3__body {
    display: flex;
    flex-direction: column;
    width: 463px;
    
}

.screen3__btn:active {
    background-color: #2F3BB7;
}

.screen3__wrapper {
    display: flex;
    max-height: 350px;
    width: 100%;
    overflow: hidden;
}

.active-f {
    /* 0% */
    translate: 0%;
    min-width: 85%;
    transition: all .3s ease-in-out;
    
}

.active-s {
    /* -100% */
    translate: 100%;
    min-width: 85%;
    transition: all .3s ease-in-out;
    
}

.active-t {
    /* -200% */
    min-width: 85%;
    translate: 200%;
    transition: all .3s ease-in-out;
}
