.screen5 {
    width: 100%;
    height: 800px;
}

.c__screen5 {
    display: flex;
    padding: 40px 0;
    background: radial-gradient(ellipse at 100% 0%, rgba(235, 71, 139, 0.411) 4%, rgba(134, 51, 176, 0.425) 13%, transparent 20%),
    radial-gradient(ellipse at 100% 100%, rgba(71, 85, 235, 0.356) 7%, transparent 35%);
}

.c__screen5 > .container {
    position: relative;
    width: 100%;

}

.screen5__title {
    width: 100%;
    margin-left: 56px;
    margin-top: 80px;
}

.screen5__body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    height: 100%; 
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px 16px 16px;
}

.main__container-main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 16px; */
}

.screen5__main {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 628px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    max-width: 628px;
    height: 240px;
    
}

.screen5__btn {
    padding: 10px 20px;
    width: 274px;;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color:white ;
    color: #4A90E2;
    z-index: 5;
    position: absolute;
    right: 55px;
    bottom: 80px;
}


.screen5__cats-img {
    border-radius: 50%;
    padding-right: 16px;
}

.screen5__date {
    font-size: 16px;
    color: #808080;
    display: flex;
    order: 1;
    padding-left: 294px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.screen5_stars {
    width: 24px;
}

.screen5__text {
    font-size: 14px;
    color: #808080;
    margin: 0;
}

.screen5__pos1 {
    top: 216px;
    left: 56px;
    z-index: 0;
}

.screen5__pos2 {
    left: 382px;
    top: 160px;
    z-index: 5;
}

.screen5__pos3 {
    top: 352px;
    right: 55px;
    z-index: 6;
}

.screen5__pos4 {
    bottom: 80px;
    left: 220px;
    z-index: 0;
}

.gap-gap {
    
    flex-wrap: nowrap;
}