body {
    margin: 0;
}

.pngscreenone {
    width: 628px;
    height: 720px;
    left: 1050px;
    position: absolute;
    top: 45px;
}

.nav {
    position: flex;
    padding: 10px 20px;
    margin: 18px;
}

.header {
    padding-top: 50px;
    
    align-items: center;
    justify-content: space-around;
    
}

.naveitems {
    margin-left: 950px;
    
}


.nav-item {
    padding-right: 20px;
    font-size: 20px;
       
}

.buttonheader {
    margin-left: 1650px;
}

.headerbtn {
    position: absolute;
    
    font-size: 20px; 
}

.titleheader {
    position: absolute;
    padding-right: 15px;
    font-size: 20px;
}

.screen1 {
    margin: 40px;
    padding: 50px;
}

.textscreenone {
    padding: 38px 0px;
    font-size: 48px;
    width: 425px;
}

.inputscreenone {
    margin: 10px 0px;
    width: 465px;
    height: 65px;
}

.inputtextscreenone {
    font-size: 25px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.minitextscreenone {
    
    font-size: 15px;
}

.input-item {
    position: absolute;
    font-size: 25px;
    left: 350px;

}

.scrolldown {
    margin-left:40px;
    padding-left: 50px;
    width: 150px;
}