body {
    margin: 0;
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.adaptive {
    display: grid;
}

h2 {
    text-transform: uppercase;
}

.form {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.mask {
    mask: inherit;
}



div {
    /* background: linear-gradient(to left top, blue, red); */

    background-color: white;
    border: black solid 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.underLine {
    border-bottom: 5px solid #ff0000;
}

/* .inputTable {
    padding: 15px;
    background-color: antiquewhite;
    
} */



input {
    background-color: white;
    padding: 5px;

}

a {
    text-decoration: none;
}

@media (max-width: 1200px) {
    .adaptive {
        width: 1000px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) {
    .adaptive {
        width: 768px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .adaptive {
        width: 480px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .adaptive {
        width: 90%;
        grid-template-columns: 1fr;
        padding: 2px;
        

        
    }

    div {
        padding: 5px;
        border: black solid 2px;
    }
}