.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

div {
    /* background: linear-gradient(to left top, blue, red); */

    background-color: #808080;
    border: black solid 5px;
    padding: 15px;
}

.underLine {
    border-bottom: 5px solid #ff0000;
}

.inputTable {
    padding: 15px;
    background-color: #808080;
    
}

.resetButton {
    
}