body {
    margin: 0;
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.form {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

div {
    /* background: linear-gradient(to left top, blue, red); */

    background-color: white;
    border: black solid 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.underLine {
    border-bottom: 5px solid #ff0000;
}

.inputTable {
    padding: 15px;
    background-color: antiquewhite;
    
}



input {
    background-color: white;
    padding: 5px;

}

a {
    text-decoration: none;
}