@import url(../css/screen-one.css);
@import url(../fonts.css);
@import url(../css/screen-two.css);
@import url(../css/screen-three.css);
@import url(../css/screen-hour.css);
@import url(../css/screen5.css);
@import url(../css/screen6.css);
@import url(../css/screen7.css);
@import url(../css/screen8.css);
@import url(../css/footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    margin: 0;
    background: #F2F2F2;
    font-family: "Visuelt Pro", sans-serif;


}


.wrapper {
    background: white;
    overflow: hidden;
    margin: 24px auto;
    border-radius: 24px;
    backdrop-filter: blur(240px);
    max-width: 1392px;
    /*background: rgba(228, 228, 228, 0.65);*/
}

header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    flex-direction: row-reverse;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav div a {
    padding: 15px 10px;
}

.items {
    display: flex;
}

.buttonheader {   
    display: flex;
    order: 1;   
}

.back-sv {
    padding-right: 150px;
}

.titleheader {
    display: flex;
    font-size: 20px;
    align-items: flex-start;
    color: #4754EB;
}

.nav-items {
    padding-right: 25px;
}

.nav-item {
    text-decoration: none;
    color: #808080;
    font-size: 20px;
}

/*.naveitems {
    /*display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
    break-before: 0;
    break-after: 0;
} */

.headerbtn {
    font-size: 20px; 
    background-color: #4A90E2;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}








.personal {
    text-decoration: none;
    color: blue;
}





.footer_header {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: blue;
    
}

.footer_head {
    position: absolute;
    color: white;
    left: 5%;
    top: 15%;
}

.back {
    position: absolute;
    text-decoration: none;
    color: white;
    top: 24%;
    left: 85%;
}